.competences-container {
  
  color: #fff;
  padding: 20px;
}

.scrollable-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 10px;
}

.skill-button {
  background-color: #222;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin-right: 10px;
  font-size: 16px;
}

.skill-button:hover {
  background-color: #555;
  cursor: pointer;
}

.input-dark {
  background-color: #333;
  color: #fff;
  border: 1px solid #666;
  width: 500px;
  padding: 12px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  /* Add any additional styles for dark mode */
}
