@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

.glass-container {
    background-color: #c191d6;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .score {
    text-align: center;
    color: #8f46ae;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Poppins';
  }
  
  .message {
    margin-top: 20px;
    text-align: center;
    font-family: 'Poppins';
  }
  .white-text {
    color: rgb(255, 255, 255);
    font-weight: bold;
  }
  